<ion-view view-title="我的收藏">
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="list card" ng-click="">

          <div class="item item-avatar">
            <!--<img src="../img/user.png">-->
            <img src="{{imgSrc}}">
            <h2>mattxue</h2>
            <h4>{{title}}</h4>
            <span>2015年12月4日</span>
            <span style="color: red; z-index: 9999; float:right; font-size: 18px;">￥300</span>
          </div>

          <div class="item item-image">
            <img src="img/sample/sample1.jpg">
          </div>

          <div class="item" style="font-size: 13px;">
            <span class="left">来自于<span style="color: #FFD300">西29</span></span>
            <span class="right">2015年12月4日</span>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="list card" ng-click="">

          <div class="item item-avatar">
            <img src="img/user.png">
            <h2>mattxue</h2>
            <span>2015年12月4日</span>
            <span style="color: red; z-index: 9999; float:right; font-size: 18px;">￥300</span>
          </div>

          <div class="item item-image">
            <img src="img/sample/sample2.png">
          </div>

          <div class="item" style="font-size: 13px;">
            <span class="left">来自于<span style="color: #FFD300">西29</span></span>
            <span class="right">2015年12月4日</span>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="list card" ng-click="">

          <div class="item item-avatar">
            <img src="img/user.png">
            <h2>mattxue</h2>
            <span>2015年12月4日</span>
            <span style="color: red; z-index: 9999; float:right; font-size: 18px;">￥300</span>
          </div>

          <div class="item item-image">
            <img src="img/sample/sample3.jpg">
          </div>

          <div class="item" style="font-size: 13px;">
            <span class="left">来自于<span style="color: #FFD300">西29</span></span>
            <span class="right">2015年12月4日</span>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="list card" ng-click="">

          <div class="item item-avatar">
            <img src="img/user.png">
            <h2>mattxue</h2>
            <span>2015年12月4日</span>
            <span style="color: red; z-index: 9999; float:right; font-size: 18px;">￥300</span>
          </div>

          <div class="item item-image">
            <img src="img/sample/sample4.jpg">
          </div>

          <div class="item" style="font-size: 13px;">
            <span class="left">来自于<span style="color: #FFD300">西29</span></span>
            <span class="right">2015年12月4日</span>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="list card" ng-click="">

          <div class="item item-avatar">
            <img src="img/user.png">
            <h2>mattxue</h2>
            <span>2015年12月4日</span>
            <span style="color: red; z-index: 9999; float:right; font-size: 18px;">￥300</span>
          </div>

          <div class="item item-image">
            <img src="img/sample/sample5.jpg">
          </div>

          <div class="item" style="font-size: 13px;">
            <span class="left">来自于<span style="color: #FFD300">西29</span></span>
            <span class="right">2015年12月4日</span>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="list card" ng-click="">

          <div class="item item-avatar">
            <img src="img/user.png">
            <h2>mattxue</h2>
            <span>2015年12月4日</span>
            <span style="color: red; z-index: 9999; float:right; font-size: 18px;">￥300</span>
          </div>

          <div class="item item-image">
            <img src="img/sample/sample6.jpg">
          </div>

          <div class="item" style="font-size: 13px;">
            <span class="left">来自于<span style="color: #FFD300">西29</span></span>
            <span class="right">2015年12月4日</span>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="list card" ng-click="">

          <div class="item item-avatar">
            <img src="img/user.png">
            <h2>mattxue</h2>
            <span>2015年12月4日</span>
            <span style="color: red; z-index: 9999; float:right; font-size: 18px;">￥300</span>
          </div>

          <div class="item item-image">
            <img src="img/sample/sample7.jpg">
          </div>

          <div class="item" style="font-size: 13px;">
            <span class="left">来自于<span style="color: #FFD300">西29</span></span>
            <span class="right">2015年12月4日</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
