.login-div{
  height: auto;
  width: 100%;
  color: #b0b0b0;
}
.login-form{
  height: auto;
  width: 35%;
  margin: auto;
  padding: 4% 4% 6% 4%;
  background-color: #121317;
  margin-top: 8%;
}
.login-input{
  background-color: #333 !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 1.1em;
  color: #FFF;
}
.btn-login{
  /*border-radius: 0 !important;*/
  background-color: #D27D10;
  width: 100%;
  color: #000;
  font-size: 1.1em !important;
  font-weight: 600;
  border-radius: 20px;
  margin-bottom: 15px;
}
.btn-login:hover{
  background-color: #D26020;
}
.glyphicon-logo{
  color:#FFF;
  text-align: center;
  color: #505050;
}
.avatar-form-group{
  text-align: center;
}
.user{
  margin: auto;
  border-radius: 50%;
  background-color: #FFF;
}
.welcome{
  margin-bottom: 40px !important;
  color: #303030;
}
#forget_password{
  float: left;
  color: #FFF;
}
#register{
  float: right;
  color: #D27D10;
}
.checkbox{
  margin-bottom: 10px !important;
}

@media screen and (max-width : 500px){
  .user{
    width: 35px;
    height: 35px;
  }
  .glyphicon-logo{
    font-size: 20px;
    top:4px;
  }
  #login_form.form-control {
    height: 22px !important;
  }
  #login_form.form-group{
    margin-bottom: 10px !important;
  }
  .btn-login{
    height: 24px;
    font-size: 0.85em !important;
    padding: 2px 12px !important;
  }
}

@media screen and (min-width : 500px) and (max-width: 768px){
  .user{
    width: 50px;
    height: 50px;
  }
  .glyphicon-logo{
    font-size: 25px;
    top:9px;
  }
  #login_form.form-control {
    height: 28px !important;
  }
  #login_form.form-group{
    margin-bottom: 18px !important;
  }
}

@media screen and (min-width : 768px) and (max-width: 1000px){
  .user{
    width: 60px;
    height: 60px;
  }
  .glyphicon-logo{
    font-size: 30px;
    top:12px;
  }
  #login_form.form-control {
    height: 32px !important;
  }
  #login_form.form-group{
    margin-bottom: 24px !important;
  }
}

@media screen and (min-width : 1000px) and (max-width: 1366px){
  .user{
    width: 70px;
    height: 70px;
  }
  .glyphicon-logo{
    font-size: 35px;
    top:15px;
  }
  #login_form.form-control {
    height: 36px !important;
  }
  #login_form.form-group{
    margin-bottom: 30px !important;
  }
}

@media screen and (min-width : 1366px){
  .user{
    width: 80px;
    height: 80px;
  }
  .glyphicon-logo{
    font-size: 40px;
    top:20px;
  }
  #login_form.form-control {
    height: 40px !important;
  }
  #login_form.form-group{
    margin-bottom: 36px !important;
  }
}
